<ion-list class="products-list" *ngIf="animate">
  <ion-item *ngFor="let cart of cartList" (swipe)="swipeProduct(cart,$event)">
    <ion-avatar solt="start">
      <img [src]="cart.image || 'assets/imgs/placeholder.jpg'" />
    </ion-avatar>
    <ion-label>
      <h2>{{cart.title}}</h2>
    </ion-label>
    <ion-note solt="end" text-right>
      <p>{{(cart.__count*cart.price)|currency:' ':'symbol':'1.2-2'}}</p>
      <p class="text-md-gray">{{cart.__count}} x {{cart.price|currency:' ':'symbol':'1.2-2'}}</p>
    </ion-note>
  </ion-item>
</ion-list>
<ion-list class="products-list" *ngIf="!animate">
  <ion-item *ngFor="let cart of cartList" (swipe)="swipeProduct(cart,$event)">
    <ion-avatar solt="start">
      <img [src]="cart.image || 'assets/imgs/placeholder.jpg'" />
    </ion-avatar>
    <ion-label>
      <h2>{{cart.title}}</h2>
    </ion-label>
    <ion-note solt="end" text-right>
      <p>{{(cart.__count*cart.price)|currency:' ':'symbol':'1.2-2'}}</p>
      <p class="text-md-gray">{{cart.__count}} x {{cart.price|currency:' ':'symbol':'1.2-2'}}</p>
    </ion-note>
  </ion-item>
</ion-list>