cart-list {
  ion-toolbar {
    .bar-button-small {
      font-size: 15px;
    }
  }
  .products-list {
    .item {
      border-bottom: 1px solid var(--ion-color-light) !important;

      ion-avatar {
        img {
          border-radius: 0;
          border: 1px solid #eee;
        }
      }

      .item-inner {
        border-bottom: none;
      }
    }
  }

  .footer {
    background-color: #ffffff;
    .checkout-btn {
      .button-inner {
        justify-content: space-between;
      }
    }
  }
}
