:host {
    .cart-fab {
      overflow: visible;
  
      .badge {
        position: absolute;
        top: 0px;
        right: 0px;
      }
    }
    @media (min-width: 992px) {
      .hide-sm-up {
        display: none;
      }
    }
  }
  