<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <!--<ion-title>Home</ion-title>-->
    <ion-buttons slot="start">
      <ion-button icon-only color="primary" mode="ios">
        <ion-icon name="barcode"></ion-icon>
      </ion-button>
      <ion-button icon-only color="primary" mode="ios">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button size="small" slot="end" color="primary" mode="ios">
        Hans Muster
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>