:host {
    ion-grid {
      padding: 0px;
      ion-grid {
        background-color: #f4f4f4;
        /*margin: 5px 0;*/
  
        ion-grid {
          background-color: #f0f0f0;
          /*margin-top: 5px;*/
        }
      }
  
      .col {
        margin-top: -1px;
        padding: 10px;
      }
      [col-12] {
        padding: 0;
      }
    }
  
    .product-card {
      position: relative;
      border: 1px solid #dddddd;
      padding: 5px;
      background-color: #ffffff;
      height: calc(100% - 10px);
  
      &.is-category {
        margin-top: 10px;
        z-index: 10;
  
        &:before {
          content: "";
          position: absolute;
          top: -12px;
          left: 10px;
          right: 10px;
          height: 10px;
          border: 1px solid #dddddd;
          border-bottom: none;
          background-color: #ffffff;
          /*z-index: -2;*/
        }
        &:after {
          content: "";
          position: absolute;
          top: -7px;
          left: 5px;
          right: 5px;
          height: 5px;
          border: 1px solid #dddddd;
          border-bottom: none;
          background-color: #ffffff;
          /*z-index: -1;*/
        }
      }
  
      &.active {
        border: 1px solid var(--ion-color-primary);
  
        &:after {
          /*border-bottom: 1px solid color($colors,primary);*/
        }
  
        .arrow {
          width: 15px;
          height: 15px;
          border-right: 1px solid var(--ion-color-primary);
          border-bottom: 1px solid var(--ion-color-primary);
          position: absolute;
          left: calc(50% - 5px);
          transform: rotate(45deg);
          bottom: -8px;
          background-color: #fff;
        }
      }
  
      .thumb {
        position: relative;
        @media (min-width: 1000px) {
          min-height: 118px;
        }
  
        img {
          width: 100%;
          object-fit: cover;
        }
        .title {
          position: absolute;
          text-align: center;
          top: 50%;
          width: 100%;
          color: #fff;
          transform: translateY(-50%);
          z-index: 1;
        }
        &.image {
          .title {
            display: none;
          }
        }
        &.color {
          img {
            visibility: hidden;
          }
          background-color: #99d5cf;
        }
      }
  
      .title {
        font-size: 16px;
        font-weight: normal;
        margin: 5px 0;
        &[text-nowrap] {
          display: block;
          overflow: hidden;
          width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  