<ion-header>
        <ion-toolbar color="white">
          <ion-buttons slot="start">
            <ion-button icon-only color="primary" (click)="closeMe()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="start">
            <ion-button size="small" slot="start" color="primary" mode="ios">
              <ion-icon name="contact"></ion-icon>
              Select Customer
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button size="small" slot="start" color="primary" mode="ios">
              <ion-icon name="paper"></ion-icon>
              New Invoice
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <cart-item></cart-item>
      </ion-content>
      <ion-footer>
        <ion-toolbar color="white">
          <ion-buttons slot="start">
            <ion-button size="small" slot="start" color="primary" mode="ios">
              % Add Discount
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button size="small" slot="start" color="primary" mode="ios">
              <ion-icon name="add"></ion-icon>
              Add Individual Product
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <div padding-horizontal *ngIf="totalProducts | async">
          <ion-button expand="block" color="primary" mode="ios" class="checkout-btn" (click)="onCheckout()">
            <span>Pay {{ totalProducts | async }} {{ (totalProducts | async) > 1 ? 'Products' : 'Product' }}</span>
            <span padding-start>{{totalAmount | async | currency : 'USD' : 'symbol' : '1.2-2'}}</span>
          </ion-button>
        </div>
      </ion-footer>