<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-button icon-only color="primary" (click)="closeMe()">
        <ion-icon name="close"></ion-icon>
      </ion-button>>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button size="small" slot="start" color="primary" mode="ios">
        <ion-icon name="contact"></ion-icon>
        Select Customer
      </ion-button>>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button size="small" slot="start" color="primary" mode="ios">
        <ion-icon name="paper"></ion-icon>
        New Invoice
      </ion-button>>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<cart-list (onCheckout)="onCheckout()" [header]="false" [animate]="true"></cart-list>